#form_body {
    width: 200px;
}

#task_form {
    width: 200px;
    float: left;
}

.subfield {
    width: 200px;
    margin-bottom: 20px;
    display: block;
}

.input {
    width: 100%;
}

textarea.input {
    margin-top: 10px;
}
.field_title {
    width: 100%;
    text-align: left;
    /* float: left; */
}

.warning {
    position: absolute;
    top: 140px;
    font-size: 15px;
    color: red;
    font-size: 25px;    
  }

  #exists {
    display: none;
  }

  #incomplete {
    display: none;
  }

  #submitted {
    display: none;
    color: white;
  }
  
  #viewButton {
    display: inline;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 30px;
    background-color: rgb(209, 209, 209);
    color: rgb(5, 5, 5);
  }