.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.email {
  margin-left: 25px;
  margin-right: 25px;
  height: 20px;
}

.password {
  margin-left: 25px;
  margin-right: 25px;
  height: 20px;
}

#users_page {
  font-size: 15px;
  margin-top: 0px;
}

.warning {
  position: absolute;
  font-size: 15px;
  color: red;
}

#login {
  display: none;
  top: 425px;
  font-size: 16px;
}
#register {
  display: none;
  top: 275px;
}
#link {
  color: white;  
}